{% extends 'applipizza/base.html' %}

{% block title %}
création d'un ingrédient
{% endblock %}

{% block main %}
<h2 class="text-center">Création d'un ingrédient</h2>

<!-- action dans la balise form va indiquer ou va aller l'utilisateur quand il appuiera sur le bouton 'continuer'  -->
<form action="/ingredients/create/" method="post" class="container mx-auto">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_nomIngredient" class="form-label">Le nom de cet ingrédient</label>
        <input type="text" name="nomIngredient" class="form-control" maxlength="58" required id="id_nomIngredient">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endblock %}